.university-image {
    width: 20vw;
    height: 30vh;
    border: 1px solid black;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px black;
}

.university-div {
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.university-info {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    padding-bottom: 5px;

    align-items: flex-start;
    justify-content: center;
}

.university-name {
    padding: 5px;
}

.university-tile-div {
    width: 40vw;
}

.university-info-text {
    width: 18vw;
    resize: none;
}